<template>
  <div style="marginLeft:25px;marginRight:25px;width:100%;">
    <h2>添加考试</h2>
    <div class="content">
      <div style="marginLeft:25px;marginRight:25px;">
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="100px"
          class="demo-ruleForm"
        >
          <el-form-item label="试卷名称" prop="name">
            <el-input class="inp" v-model="ruleForm.name"></el-input>
          </el-form-item>
          <el-form-item label="选择考试类型" prop="region">
            <el-select v-model="ruleForm.region">
              <el-option
                v-for="item in examType"
                :key="item.exam_id"
                :value="item.exam_name"
              >{{item.exam_name}}</el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="选择课程" prop="className">
            <el-select v-model="ruleForm.className">
              <el-option
                v-for="item in subjectName"
                :key="item.subject_id"
                :value="item.subject_text"
              >{{item.subject_text}}</el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="考试时间" required>
            <div class="time">
              <el-col :span="11">
                <el-form-item prop="date1">
                  <el-date-picker
                    type="date"
                    placeholder="选择日期"
                    v-model="ruleForm.date1"
                    style="width: 100%;"
                  ></el-date-picker>
                </el-form-item>
              </el-col>
              <el-col class="line" :span="2">-</el-col>
              <el-col :span="11">
                <el-form-item prop="date2">
                  <el-date-picker
                    type="date"
                    placeholder="选择日期"
                    v-model="ruleForm.date2"
                    style="width: 100%;"
                  ></el-date-picker>
                </el-form-item>
              </el-col>
            </div>
          </el-form-item>
          <el-form-item class="btn">
            <el-button type="primary" @click="submitForm('ruleForm')">创建试卷</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { checkadd, checkQuestions } from "../api/http";

export default {
  data() {
    return {
      date1: "",
      date2: "",
      subjectName: [],
      examType: [],
      ruleForm: {
        name: "",
        region: "",
        className: ""
      },
      rules: {
        name: [{ required: true, message: "请输入班级名", trigger: "blur" }],
        region: [
          { required: true, message: "请选择教室号", trigger: "change" }
        ],
        className: [
          { required: true, message: "请选择课程名", trigger: "change" }
        ],
        date1: [
          {
            type: "date",
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        date2: [
          {
            type: "date",
            required: true,
            message: "请选择时间",
            trigger: "change"
          }
        ]
      }
    };
  },
  created() {
    checkadd().then(res => {
      if (res.data.code === 1) {
          
        this.examType = res.data.data;
      }
    });
    checkQuestions().then(res => {
      if (res.data.code === 1) {
        this.subjectName = res.data.data;
      }
    });
  },
  methods: {

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert("submit!");
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>

<style>
h2 {
  margin: 20px 0;
}
.title {
  width: 500px;
  margin-top: 10px;
}
.content {
  width: 100%;
  height: 1200px;
  background: #fff;
  border-radius: 10px;
}
.el-form-item__label {
  text-align: left;
  float: none;
}
.inp {
  width: 400px;
}
.el-input__inner {
  margin-top: 10px;
}
.el-form-item {
  padding-top: 28px;
  margin-bottom: 0;
}
.time {
  float: left;
  height: 50px;
}
.el-form-item__content{
  margin-left: 0 !important;
}
.btn{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
  margin-top: 60px;
}
</style>