<template>
  <div style="marginLeft:25px;marginRight:25px;width:100%;">
    <h2>添加试题</h2>
    <div class="content">
      <div style="marginLeft:25px;marginRight:25px; height:800px">
        <h5>题目信息</h5>
        <h5>题干</h5>
        <el-input
          class="title"
          type="text"
          placeholder="请输入题目标题,不超过20个字"
          v-model="text"
          maxlength="20"
          show-word-limit
        ></el-input>
        <el-form style="marginTop:25px">
          <el-form-item label="题目主题">
            <el-input type="textarea" v-model="form.desc" placeholder="请输入内容..."></el-input>
          </el-form-item>
        </el-form>
        <h5>请选择考试类型:</h5>

        <el-select v-model="value" placeholder="周考1" @change="changezhou($event)">
          <el-option
            v-for="item in examType"
            :key="item.exam_id"
            :label="item.exam_name"
            :value="item.exam_id"
          >{{item.exam_name}}</el-option>
        </el-select>
        <h5>请选择课程类型:</h5>
        <el-select v-model="value2" placeholder="JavaScript" @change="changezhou($event)">
          <el-option
            v-for="item in subjectType"
            :key="item.subject_id"
            :value="item.subject_id"
            :label="item.subject_text"
          >{{item.subject_text}}</el-option>
        </el-select>
        <h5>请选择题目类型:</h5>
        <el-select v-model="value3" placeholder="简答题" @change="changezhou($event)">
          <el-option
            v-for="item in questionType"
            :key="item.questions_type_id"
            :value="item.questions_type_id"
            :label="item.questions_type_text"
          >{{item.questions_type_text}}</el-option>
        </el-select>
        <el-form style="marginTop:25px">
          <el-form-item label="答案信息">
            <el-input type="textarea" v-model="form.desc2" placeholder="请输入内容..."></el-input>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click="submitForm()">提交</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { checkadd, checkQuestions, checktype, addExam ,allAdd} from "../api/http";
import { Message } from 'element-ui';

export default {
  data() {
    return {
      text: "",
      form: {
        desc: "",
        desc2: ""
      },
      examType: [],
      subjectType: [],
      questionType: [],
      value: "",
      value2: "",
      value3: "",
      id: [],
      userId: "",
      exam_id: "",
      subject_id: "",
      questions_type_id: ""
    };
  },
  created() {
    checkadd().then(res => {
      if (res.data.code === 1) {
        this.examType = res.data.data;
      
        
      }
    });
    checkQuestions().then(res => {
      if (res.data.code === 1) {
        this.subjectType = res.data.data;
       
      }
    });
    checktype().then(res => {
      if (res.data.code === 1) {
        this.questionType = res.data.data;
        
      }
    });
    allAdd().then(res=>{
            if(res.data.code===1){
               
               this.id.push(res.data.data[res.data.data.length-1].user_id)
            }
        })
  },
  methods: {
    changezhou(event) {
      this.id.push(event);
      this.userId = this.id[0];
      this.exam_id = this.id[1];
      this.subject_id = this.id[2];
      this.questions_type_id = this.id[3];
     
    },
    submitForm() {
        
      addExam(this.questions_type_id,this.form.desc,this.subject_id,this.exam_id,this.userId,this.form.desc2,this.text).then(res => {
        if(res.data.code === 1){
          Message.success('添加试题成功')
            console.log(res)
        }
      });
    }
  }
};
</script>

<style>
h2 {
  margin: 20px 0;
}
.title {
  width: 500px;
  margin-top: 10px;
}
.content {
  width: 100%;
  height: 1200px;
  background: #fff;
  border-radius: 10px;
}
.content h5 {
  padding-top: 20px;
}
.el-textarea__inner {
  height: 235px;
}
.btn-bus {
  width: 190px;
  background: #fff;
  outline: none;
  border: none;
  text-align: left;
}
</style>
