<template>
  <div style="marginLeft:25px;marginRight:25px;width:100%;">
    <h2>添加用户</h2>
      <div style="marginRight:25px;height:100%">
        <ul class="ul">
          <el-button type="primary" class="add-user" @click="fn()">添加用户</el-button>
          <el-button type="primary"  class="add-user" @click="fn()">更新用户</el-button>
          <li>
          <template>
            <el-select v-show="flage" v-model="identity2" placeholder="请选择身份ID">
              <el-option
                v-for="item in identity"
                :key="item.identity_id"
                :label="item.identity_text"
                :value="item.identity_id">
              </el-option>
            </el-select>
          </template>
          </li>
          <li>
            <el-input v-model="input" placeholder="请输入用户名" class="input"></el-input>
          </li>
          <li>
            <el-input v-model="values" placeholder="请输入密码" class="input"></el-input>
          </li>
          <li>
          <template>
            <el-select v-model="identity1" placeholder="请选择身份ID">
              <el-option
                v-for="item in identity"
                :key="item.identity_id"
                :label="item.identity_text"
                :value="item.identity_id">
              </el-option>
            </el-select>
          </template>
          </li>
          <el-button type="primary" class="btn-btn">确定</el-button>
          <el-button type="primary" class="btn-btns">重置</el-button>
        </ul>
        <ul class="ul">
          <el-button type="primary" class="add-user">添加身份</el-button>
          <li>
            <el-input v-model="input" placeholder="请输入身份名称" class="input"></el-input>
          </li>
          <el-button type="primary"  class="btn-btn">确定</el-button>
          <el-button type="primary" class="btn-btns">重置</el-button>
        </ul>
        <ul class="ul">
          <el-button type="primary" class="add-user">添加api接口权限</el-button>
          <li>
            <el-input v-model="input" placeholder="请输入api接口权限名称" class="input"></el-input>
          </li>
          <li>
            <el-input v-model="values" placeholder="请输入api接口权限url" class="input"></el-input>
          </li>
          <li>
            <el-input v-model="value" placeholder="请输入api接口权限方法" class="input"></el-input>
          </li>
          <el-button type="primary"  class="btn-btn">确定</el-button>
          <el-button type="primary" class="btn-btns">重置</el-button>
        </ul>
        <ul class="ul">
          <el-button type="primary" class="add-user">添加视图接口权限</el-button>

          <li>
          <template>
            <el-select v-model="view" placeholder="请选择已有实图">
              <el-option
                v-for="item in view_authority"
                :key="item.view_authority_id"
                :label="item.view_authority_text"
                :value="item.view_authority_id">
              </el-option>
            </el-select>
          </template>
          </li>
          <el-button type="primary"  class="btn-btn">确定</el-button>
          <el-button type="primary" class="btn-btns">重置</el-button>
        </ul>
        <ul class="ul">
          <el-button type="primary" class="add-user">给身份设置api权限</el-button>
          <li>
          <template>
            <el-select v-model="api1" placeholder="请选择身份ID">
              <el-option
                v-for="item in identity"
                :key="item.identity_id"
                :label="item.identity_text"
                :value="item.identity_id">
              </el-option>
            </el-select>
          </template>
          </li>
          <li>
          <template>
            <el-select v-model="api2" placeholder="请选择api接口权限">
              <el-option
                v-for="item in api_authority"
                :key="item.api_authority_id"
                :label="item.api_authority_text"
                :value="item.api_authority_id">
              </el-option>
            </el-select>
          </template>
          </li>
          <el-button type="primary"  class="btn-btn">确定</el-button>
          <el-button type="primary" class="btn-btns">重置</el-button>
        </ul>
        <ul class="ul">
          <el-button type="primary" class="add-user">给身份设置视图权限</el-button>
           <li>
          <template>
            <el-select v-model="api3" placeholder="请选择身份ID">
              <el-option
                v-for="item in identity"
                :key="item.identity_id"
                :label="item.identity_text"
                :value="item.identity_id">
              </el-option>
            </el-select>
          </template>
          </li>
          <li>
          <template>
            <el-select v-model="view2" placeholder="请选择权限视图id">
              <el-option
                v-for="item in view_authority"
                :key="item.view_authority_id"
                :label="item.view_authority_text"
                :value="item.view_authority_id">
              </el-option>
            </el-select>
          </template>
          </li>
          <el-button type="primary"  class="btn-btn">确定</el-button>
          <el-button type="primary" class="btn-btns">重置</el-button>
        </ul>
      </div>
  </div>
</template>

<script>
import {identityID,view,api} from '../api/http'

export default {
  data() {
    return {
      identity1:'',
      identity2:'',
      api1:'',
      api2:'',
      api3:'',
      view:'',
      view2:'',
      input: "",
      values: "",
      value: "",
      identity:[],
      view_authority:[],
      api_authority:[],
      flage: false
    };
  },
  created(){
    identityID().then(res=>{
      if(res.data.code === 1){
        this.identity = res.data.data
      }
    })
    view().then(res=>{
      if(res.data.code === 1){
        this.view_authority = res.data.data
      }
    })
    api().then(res=>{
      if(res.data.code === 1){
        this.api_authority = res.data.data
      }
    })
  },
  methods: {
    fn() {
      this.flage = !this.flage;
    }
  }
};
</script>

<style >
h2 {
  margin: 20px 0;
}
.title {
  width: 500px;
  margin-top: 10px;
}

.ul {
  width: 400px;
  height: 350px;
  float: left;
  line-height: 50px;
  margin-left: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.input {
  width: 350px;
}
.btn-btn{
    background: blue
}
.btn-btn:hover{
    background: blue
}
.btn-btns{
    background: #fff;
    color: black
}
.add-user{
    background: #fff;
    color: blue
}
</style>
