<template>
  <div style="marginLeft:25px;marginRight:25px;width:100%;">
    <h2>查看试题</h2>
    <div class="content">
      <div class="user-txt">
        <ul>
          <h3>课程类型: &nbsp;</h3>
          <li v-for="(item) in list" :key="item.subject_id">{{item.subject_text}}</li>
        </ul>
        <div class="select-el">
          <span class="spantype">考试类型:</span>&nbsp;
          <el-select  v-model="value">
            <el-option
              v-for="item in checkaddArry"
              :key="item.value"
              :label="item.exam_name"
              :value="item.exam_name"
            ></el-option>
          </el-select>
          <span class="spantype">题目类型:</span>&nbsp;
           <el-select  v-model="values">
               <el-option
              v-for="item in checktypeArry"
              :key="item.questions_type_id"
             :label="item.questions_type_text"
             :value="item.questions_type_text">
           </el-option>
           </el-select>
          <span class="seacrh-btn">
            <el-button type="primary" icon="el-icon-search" @click="searchClick">查询</el-button>
          </span>
        </div>
        <div>
          <allcheck :listMock='listMock'></allcheck>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  checkQuestions,
  checkadd,
  checktype,
  seacrhAdd,
  allAdd
} from "../api/http";

import allcheck from "../components/allcheck";
export default {
  components: {
  allcheck
  },
  data() {
    return {
      list: [],
      value: "",
      values:'',
      checkaddArry: [],
      checktypeArry: [],
      listMock: []
    };
  },
  created() {
    checkQuestions().then(res => {
      if (res.data.code === 1) {
        this.list = res.data.data;
      }
    });
    checkadd().then(res => {
      if (res.data.code === 1) {
        this.checkaddArry = res.data.data;
      }
    });
    checktype().then(res => {
      if (res.data.code === 1) {
        this.checktypeArry = res.data.data;
      }
    });
    allAdd().then(res=>{
            if(res.data.code===1){
                this.listMock=res.data.data
                
            }
        })
  },
  methods: {
    searchClick() {
       allAdd().then(res=>{
            if(res.data.code===1){
               this.listMock=res.data.data.filter(item=>item.exam_name.includes(this.value)&&item.questions_type_text.includes(this.values))
              
            }
         })
    }
  }
};
</script>

<style scoped>
.user-txt {
  width: 100%;
  height: 60px;
}
.user-txt > ul {
  display: flex;
  padding-top: 20px;
  margin-left: 60px;
}
.user-txt > ul > li {
  margin-left: 30px;
  font-size: 12px;
  color: #000;
  margin-top: 5px;
}
.select-el {
  display: flex;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 50px;
}
.seacrh-btn {
  margin-left: 30px;
}
.spantype {
  margin-top: 10px;
}
h2 {
  margin: 20px 0;
}
.title {
  width: 500px;
  margin-top: 10px;
}
.content {
  width: 100%;
  height: 4500px;
  background: #fff;
  border-radius: 10px;
}
</style>
