<template>
  <div class="classRoom">
    <h1>班级管理</h1>
    <div class="box">
      <el-button type="primary" @click="dialogVisible = true" style="marginTop:20px">添加教室</el-button>
        <el-dialog
          title="添加班级"
          :visible.sync="dialogVisible"
          width="30%"
          >
        <div class="classname">
          <p class="active">
            <span>*</span>
            <span>班级名:</span>
          </p>
          <p>
            <el-input v-model="input1" placeholder="班级名"></el-input>
          </p>
        </div>
        <div class="jiaoshi2">
          <p class="active">
            <span>*</span>
            <span>教室号:</span>
          </p>
          <el-select v-model="room_id" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.room_id"
              :label="item.room_text"
              :value="item.room_id"
            ></el-option>
          </el-select>
        </div>
        <div class="cname">
          <p class="active">
            <span>*</span>
            <span>课程名:</span>
          </p>
          <el-select v-model="subject_id" placeholder="请选择">
            <el-option
              v-for="item in options2"
              :key="item.subject_id"
              :label="item.subject_text"
              :value="item.subject_id"
            ></el-option>
          </el-select>
        </div>

          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitFn">确 定</el-button>
          </span>
        </el-dialog>
     
<el-dialog
          title="添加班级"
          :visible.sync="dialogVisible2"
          width="30%"
          >
        <div>
        <div class="classname">
          <p class="active">
            <span>*</span>
            <span>班级名:</span>
          </p>
          <p>
            <el-input v-model="haveValue" placeholder="班级名" class="stopipt"></el-input>
          </p>
        </div>
        <div class="jiaoshi2">
          <p class="active">
            <span>*</span>
            <span>教室号:</span>
          </p>
          <el-select v-model="room_id" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.room_id"
              :label="item.room_text"
              :value="item.room_id"
            ></el-option>
          </el-select>
        </div>
        <div class="cname">
          <p class="active">
            <span>*</span>
            <span>课程名:</span>
          </p>
          <el-select v-model="subject_id" placeholder="请选择">
            <el-option
              v-for="item in options2"
              :key="item.subject_id"
              :label="item.subject_text"
              :value="item.subject_id"
            ></el-option>
          </el-select>
        </div>

        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible2 = false">取 消</el-button>
            <el-button type="primary" @click="newsubmit">确 定</el-button>
          </span>
        </el-dialog>

      <div>
        <el-table :data="tableData" style="width: 100%" class="elTable">
          <el-table-column label="班级名">
            <template slot-scope="scope">
              <p>{{ scope.row.grade_name }}</p>
            </template>
          </el-table-column>

          <el-table-column label="课程名">
            <template slot-scope="scope">
              <p>{{ scope.row.subject_text }}</p>
            </template>
          </el-table-column>

          <el-table-column label="教室号">
            <template slot-scope="scope">
              <p>{{ scope.row.room_text }}</p>
            </template>
          </el-table-column>

          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">修改</el-button>
              <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import {
  classMange,
  addClass,
  deleteClass,
  classNumber,
  checkQuestions,
  updataClass
} from "../api/http";

export default {
  props: {},
  components: {},
  data() {
    return {
      tableData: [],
        dialogVisible: false,
        dialogVisible2: false,
      input1: "",
      options: [],
      options2: [],
      room_id: "",
      subject_id: "",
      haveValue: "",
      classid: ""
    };
  },
  computed: {},
  methods: {
    cancelChange() {
      this.flag2 = false;
    },
    newsubmit() {
      updataClass(
        this.classid,
        this.haveValue,
        this.subject_id,
        this.room_id
      ).then(res => {
        if (res.data.code === 1) {
          classMange().then(res => {
            this.tableData = res.data.data;
          });
        }
      });
      this.dialogVisible2 = false;
    },
    submitFn() {
      addClass(this.input1, this.room_id, this.subject_id).then(res => {
        if (res.data.code === 1) {
          classMange().then(res => {
            this.tableData = res.data.data;
          });
          this.dialogVisible = false
        }
      });
      this.flag = false;
    },
    cancel() {
      this.flag = false;
    },
    handleEdit(index, row) {
      this.dialogVisible2 = true
      classMange().then(res => {
        this.classid = res.data.data[index].grade_id;
        this.haveValue = res.data.data[index].grade_name;
      });
    },
    handleDelete(index, row) {
      deleteClass(row.grade_id).then(res => {
        if (res.data.code === 1) {
          classMange().then(res => {
            this.tableData = res.data.data;
          });
        }
      });
    }
  },
  created() {
    classMange().then(res => {
      this.tableData = res.data.data;
    });
    classNumber().then(res => {
      this.options = res.data.data;
    }),
      checkQuestions().then(res => {
        this.options2 = res.data.data;
      });
  },
  mounted() {}
};
</script>

<style>
.el-table::before {
  height: 0;
}
.classname {
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
.jiaoshi2 {
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
.cname {
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.classRoom {
  width: 100%;
  height: 100%;
}

.active span:nth-child(1) {
  color: red;
  font-size: 20px;
}

h1 {
  height: 70px;
  line-height: 70px;
  margin-left: 2%;
  font-size: 23px;
  font-weight: 500;
}
.box {
  width: 96%;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0 25px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
}
.button {
  margin: 20px;
  width: 120px;
}
.tankuang {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.modleBox {
  width: 50%;
  height: 540px;
  background: white;
  margin: 60px auto;
}
.elTable {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.el-input__inner {
  height: 30px;
  line-height: 30px;
}
.el-button--danger,
.el-button--mini {
  background: #eee;
  border: 0;
  color: #000;
}
.el-button--danger:hover,
.el-button--mini:hover {
  background: #eee;
  color: #000;
}
</style>