<template>
  <div style="marginLeft:25px;marginRight:25px;width:100%;">
    <h2>试题分类</h2>
    <div class="content">
      <div style="marginLeft:25px;marginRight:25px;">
        <el-button type="primary" @click="dialogVisible = true" style="marginTop:20px">添加类型</el-button>
        <el-dialog title="创建新类型" :visible.sync="dialogVisible" width="420px">
          <el-form
            :model="ruleForm"
            :rules="rules"
            ref="ruleForm"
            label-width="100px"
            class="demo-ruleForm"
          >
            <el-form-item label="类型名称" prop="text" placeholder="请输入类型名称">
              <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="类型ID" prop="sort" placeholder="请输入类型ID">
              <el-input v-model="ruleForm.id"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm')">确定</el-button>
              <el-button @click="resetForm()">取消</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>
        <template>
          <el-table :data="tableData" style="width: 100%">
            <el-table-column prop="questions_type_id" label="类型ID" width="500"></el-table-column>
            <el-table-column prop="questions_type_text" label="类型名称" width="300"></el-table-column>
            <el-table-column label="操作">
              
            </el-table-column>
          </el-table>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { checktype,insertQuestionsType } from "../api/http";
export default {
  data() {
    return {
      dialogVisible: false,
      tableData: [],
      ruleForm: {
        name: "",
        id:''
      },
      rules: {
        name: [{ required: true, message: "请输入班级名", trigger: "blur" }],
      }
    };
  },

  created() {
    checktype().then(res => {
      if (res.data.code === 1) {
        this.tableData = res.data.data;
      }
    });
  },
  methods: {
    modify() {},
    del() {},
    submitForm() {
      insertQuestionsType(this.ruleForm.name,this.ruleForm.id).then(res=>{
        if(res.data.code === 1){
        }
      })
      this.dialogVisible = false;
    },
    resetForm() {
      this.dialogVisible = false;
    }
  }
};
</script>

<style scoped>
h2 {
  margin: 20px 0;
}
.title {
  width: 500px;
  margin-top: 10px;
}
.content {
  width: 100%;
  height: 180%;
  background: #fff;
  border-radius: 10px;
}
.el-input__inner {
  width: 250px;
}
</style>
