<template>
  <div>
      <span>{{list.title}}</span>
      <span>{{list.subject_text}}</span>
      <span>{{list.user_name}}</span>
      <span>{{list.start_time}}</span>
      <span>{{list.end_time}}</span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: []
    };
  },
  created() {
    this.list = this.$route.query._data[this.$route.query.index];
  }
};
</script>

<style scoped>
    span{
        margin-left: 20px;
    }
</style>
