<template>
  <div style="marginLeft:25px;marginRight:25px;width:100%;">
    <h2>试卷列表</h2>
    <div class="content">
      <div class="cont" style="marginLeft:25px;marginRight:25px;">
        <span>考试类型:</span>
        <el-select v-model="exam_type">
          <el-option
            v-for="item in examType"
            :key="item.exam_id"
            :label="item.exam_name"
            :value="item.exam_name"
          ></el-option>
        </el-select>
        <span>课程:</span>
        <el-select v-model="subject_name">
          <el-option
            v-for="item in subjectName"
            :key="item.subject_id"
            :label="item.subject_text"
            :value="item.subject_text"
          ></el-option>
        </el-select>
        <el-button class="cha" type="primary" icon="el-icon-search">查询</el-button>
        <h4>试卷列表</h4>
        <template>
          <el-table :data="examList" style="width: 100%">
            <el-table-column prop="title" label="试卷信息" width="280"></el-table-column>
            <el-table-column prop="grade_name" label="班级" width="150"></el-table-column>
            <el-table-column prop="user_name" label="创建人" width="150"></el-table-column>
            <el-table-column prop="start_time" label="开始时间" width="180"></el-table-column>
            <el-table-column prop="end_time" label="结束时间"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button @click.native.prevent="detail(scope.$index, tableData)" type="text" size="small">详情</el-button>
                
              </template>
            </el-table-column>
          </el-table>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { checkQuestions, checkadd,examList,detail } from "../api/http";
export default {
  data() {
    return {
      exam_type: "",
      subject_name: "",
      subjectName: [],
      examType: [],
      tableData: [],
      examList:[]
    };
  },
  created() {
    examList().then(res => {
          if (res.data.code === 1) {
            this.examList = res.data.exam;
          }
        });
    checkQuestions().then(res => {
      if (res.data.code === 1) {
        this.subjectName = res.data.data;
      }
    });
    checkadd().then(res => {
      if (res.data.code === 1) {
        this.examType = res.data.data;
      }
    });
  },
  methods:{
    detail(index){
      const _data = this.examList
      this.$router.push({path:'/detail',query:{index,_data}})
      
    }
  }
};
</script>

<style>
h2 {
  margin: 20px 0;
}
.title {
  width: 500px;
  margin-top: 10px;
}
.content {
  width: 100%;
  height: 1200px;
  background: #fff;
  border-radius: 10px;
}
.cont {
  padding: 30px;
}
.cont span {
  margin-left: 30px;
}
.cont .cha {
  margin-left: 50px;
}
.cont h4{
  margin-top: 50px;
}
</style>
