<template>
  <div style="height: 100%;">
    <header class="header-box">
      <headerBox></headerBox>
    </header>
    <div class="wrapper">
      <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px" style="background: #232A41">
          <el-menu :default-active="$route.path" router style="background: #232A41">
            <el-submenu index="1">
              <template slot="title">
                <i class="el-icon-message"></i>试题管理
              </template>
              <el-menu-item index="/home/addQuestions">添加试题</el-menu-item>
              <el-menu-item index="/home/classifyQuestions">试题分类</el-menu-item>
              <el-menu-item index="/home/checkQuestions">查看试题</el-menu-item>
            </el-submenu>
            <el-submenu index="2">
              <template slot="title">
                <i class="el-icon-message"></i>用户管理
              </template>
              <el-menu-item index="/home/adduser">添加用户</el-menu-item>
              <el-menu-item index="/home/usershow">用户展示</el-menu-item>
            </el-submenu>
             <el-submenu index="3">
              <template slot="title">
                <i class="el-icon-message"></i>考试管理
              </template>
              <el-menu-item index="/home/addexam">添加考试</el-menu-item>
              <el-menu-item index="/home/examList">试卷列表</el-menu-item>
            </el-submenu>
            <el-submenu index="4">
              <template slot="title">
                <i class="el-icon-menu"></i>班级管理
              </template>
              <el-menu-item-group>
                <el-menu-item index="/home/classManagement">班级管理</el-menu-item>
                <el-menu-item index="/home/roomManagement">教室管理</el-menu-item>
                <el-menu-item index="/home/studentManagement">学生管理</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            <el-submenu index="5">
              <template slot="title">
                <i class="el-icon-message"></i>阅卷管理
              </template>
              <el-menu-item index="/home/waitClass">待批班级</el-menu-item>
            </el-submenu>
          </el-menu>
        </el-aside>
        <el-container style="background:#f0f2f5;width:100%;height:100%;overflowY: auto;">
          <router-view></router-view>
        </el-container>
      </el-container>
    </div>
  </div>
</template>

<script>
import headerBox from "../components/header";
export default {
  components: {
    headerBox
  },
  data() {
    return {};
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>

<style >
.header-box {
  width: 100%;
  height: 64px;
  border: 1px solid #ccc;
  position: relative;
}
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #fff;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.el-submenu__title {
  color: #fff;
}
.el-submenu__title:hover{
  background: #232A41;
}
</style>
