<template>
  <div class="wrapper">
    <div class="login">
      <el-form
        :model="ruleForm"
        status-icon
        :rules="rules"
        ref="ruleForm"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="" prop="user">
          <el-input v-model="ruleForm.user" autocomplete="off" placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item label="" prop="pas">
          <el-input type="password" v-model="ruleForm.pas" placeholder="请输入密码"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import {login} from '../api/http'

export default {
  data() {
    var checkPas = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("请输入密码"));
      }
    };
    var validateUser = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入用户名"));
      } else {
        if (this.ruleForm.checkUser !== "") {
          this.$refs.ruleForm.validateField("checkUser");
        }
        callback();
      }
    };
   
    return {
      ruleForm: {
        user: "w916peach",
        checkUser: "",
        pas: "Peach0126!"
      },
      rules: {
        user: [{ validator: validateUser, trigger: "blur" }],
        pas: [{ validator: checkPas, trigger: "blur" }]
      }
    };
  },
  methods: {
    
    submitForm() {
      login(this.ruleForm.user,this.ruleForm.pas).then((res)=>{
         if(res.data.code === 1){
           localStorage.setItem('token',res.data.token)
             let {user}=this.ruleForm
           this.$router.push({path:'/home',query:{user}})
          }
      })
    },
 
  }
};
</script>

<style>
.wrapper {
  width: 100%;
  height: 100%;
  background: url("http://img.51miz.com/Element/00/97/34/60/dfa87e35_E973460_5a6c340d.png%21/quality/90/unsharp/true/compress/true/format/png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.login{
  width: 400px;
  height: 250px;
  position: absolute;
  right: 200px;
  bottom: 200px;
}
</style>
