<template>
  <div style="marginLeft:25px;marginRight:25px;width:100%;">
    <h2>教室管理</h2>
    <div class="content">
      <div style="marginLeft:25px;marginRight:25px;">
        <el-button type="primary" @click="dialogVisible = true" style="marginTop:20px">添加教室</el-button>
        <el-dialog title="添加教室" :visible.sync="dialogVisible" width="420px">
          <el-form
            :model="ruleForm"
            :rules="rules"
            ref="ruleForm"
            label-width="100px"
            class="demo-ruleForm"
          >
            <el-form-item label="教室号" prop="region">
              <el-input v-model="ruleForm.region"></el-input>
            </el-form-item>

            <el-form-item>
              <el-button @click="resetForm()">取消</el-button>
              <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>
        <template>
          <el-table :data="classNumber" style="width: 100%">
            <el-table-column prop="room_text" label="教室号"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  @click.native.prevent="del(scope.$index, classNumber)"
                  type="text"
                  size="small"
                >删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { classNumber, addRoom, deleteRoom } from "../api/http";
export default {
  data() {
    return {
      dialogVisible: false,
      classNumber: [],
      id: [],
      ruleForm: {
        region: ""
      },
      rules: {
        region: [{ required: true, message: "请选择教室号", trigger: "change" }]
      }
    };
  },

  created() {
    classNumber().then(res => {
      if (res.data.code === 1) {
        this.classNumber = res.data.data;
      }
    });
  },
  methods: {
    del(index, rows) {
      const tab = this.classNumber;
      let id = tab[index].room_id;
      deleteRoom(id).then(res => {
        if (res.data.code === 1) {
          classNumber().then(res => {
            this.classNumber = res.data.data;
          });
        }
      });
    },
    submitForm() {
      addRoom(this.ruleForm.region).then(res => {
        if (res.data.code === 1) {
          this.dialogVisible = false;
          classNumber().then(res => {
            this.classNumber = res.data.data;
          });
        }
      });
    },
    resetForm() {
      this.dialogVisible = false;
    }
  }
};
</script>

<style scoped>
h2 {
  margin: 20px 0;
}
.title {
  width: 500px;
  margin-top: 10px;
}
.content {
  width: 100%;
  height: 200%;
  background: #fff;
  border-radius: 10px;
}
.el-input__inner {
  width: 250px;
}
</style>
