<template>
  <div style="marginLeft:25px;marginRight:25px;width:100%;">
    <h2>学生管理</h2>
    <div class="content">
      <div style="marginLeft:25px;marginRight:25px;">
        <el-input v-model="input" placeholder="输入学生姓名" class="user-input"></el-input>
        <el-select class="user-input" v-model="roomNumber" placeholder="请选择教室号">
          <el-option
            :value="item.room_text"
            v-for="(item) in rooms"
            :key="item.room_id"
          >{{item.room_text}}</el-option>
        </el-select>
        <el-select class="user-input" v-model="className" placeholder="班级名">
          <el-option :value="item" v-for="(item,index) in classrender" :key="index">{{item}}</el-option>
        </el-select>
        <el-select class="user-input" v-model="number" placeholder="学号">
          <el-option
            :value="item.student_id"
            v-for="(item,index) in mastList"
            :key="index"
          >{{item.student_id}}</el-option>
        </el-select>
        <el-button type="primary" class="btn" @click="search()">搜索</el-button>
        <el-button type="primary" class="btn" @click="add()">重置</el-button>
        <el-table
          :data="mastList.slice((currentPage-1)*PageSize,currentPage*PageSize)"
          border
          style="width: 100%"
          class="table"
        >
          <el-table-column fixed prop="student_name" label="姓名" width="150"></el-table-column>
          <el-table-column prop="student_id" label="学号" width="120"></el-table-column>
          <el-table-column prop="grade_name" label="班级" width="120"></el-table-column>
          <el-table-column prop="room_text" label="教室" width="120"></el-table-column>
          <el-table-column prop="student_pwd" label="密码" width="300"></el-table-column>

          <el-table-column fixed="right" label="操作" width="200">
            <template slot-scope="scope">
              <el-button @click="handleClick(scope.$index)" type="text" size="small">删除</el-button>
             
            </template>
          </el-table-column>
        </el-table>
        <div class="block">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="pageSizes"
            :page-size="PageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount"
          ></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { student, room,deletestudent} from "../api/http";
export default {
  data() {
    return {
      roomNumber: "",
      className: "",
      number: "",
      input: "郭永鹏",
      currentPage:1,
           // 总条数，根据接口获取数据长度(注意：这里不能为空)
           totalCount:1,
           // 个数选择器（可修改）
           pageSizes:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17],
           // 默认每页显示的条数（可修改）
           PageSize:5,
      mastList: [],
      rooms: [],
      classrender: "",
      studentNmber: ""
    };
  },
  methods: {
    handleSizeChange(val) {
       this.PageSize=val
           // 注意：在改变每页显示的条数时，要将页码显示到第一页
           this.currentPage=1
    },
    handleCurrentChange(val) {
      this.currentPage=val
    },
    handleClick(id){
    console.log(this.mastList[id])
    deletestudent(this.mastList[id].student_id).then(res=>{
        console.log(res)
    })
    },
    search() {
      student().then(res => {
        if (res.data.code === 1) {
          this.mastList = res.data.data.filter(item => {
            return item.student_name.includes(this.input)&&item.room_text.includes(this.roomNumber)&&item.grade_name.includes(this.className)&&item.student_id.includes(this.number);
          });
        }
      });
    },
    add(){
        student().then(res => {
      if (res.data.code === 1) {
        this.mastList = res.data.data;
       
      }
    })
    }
  },
  created() {
    student().then(res => {
      if (res.data.code === 1) {
        this.mastList = res.data.data;
        this.classrender = new Set(this.mastList.map(item => item.grade_name));
        this.totalCount=res.data.data.length
         
      }
    });
    room().then(res => {
      if (res.data.code === 1) this.rooms = res.data.data;
    });
  }
};
</script>

<style>
.table {
  margin-top: 50px;
}
h2 {
  margin: 20px 0;
}
.title {
  width: 500px;
  margin-top: 10px;
}
.content {
  width: 100%;
  height: 1200px;
  background: #fff;
  border-radius: 10px;
}
.user-input {
  width: 150px;
  height: 20px;
  transform: translateX(100px);
   margin-top: 40px;
}
.btn {
  transform: translateX(150px);
}
.el-button--text {
  color: #000 !important;
}
</style>
