<template>
  <div style="marginLeft:25px;marginRight:25px;width:100%;">
    <h2>用户展示</h2>
    <div class="content">
      <div style="marginLeft:25px;marginRight:25px;">
        <div class="tabZujian">
        <el-tabs v-model="activeName">
            <el-tab-pane label="用户数据" name="first" :key="'first'">
                <child1></child1>
            </el-tab-pane>
             <el-tab-pane label="身份数据" name="second" :key="'second'">
                <child2></child2>
            </el-tab-pane>
            <el-tab-pane label="api接口权限" name="child3" :key="'child3'">
                <child3></child3>
            </el-tab-pane>
            <el-tab-pane label="身份和api接口权限" name="child4" :key="'child4'">
                <child4></child4>
            </el-tab-pane>
            <el-tab-pane label="视图接口权限" name="child5" :key="'child5'">
                <child5></child5>
            </el-tab-pane>
             <el-tab-pane label="身份和视图权限关系" name="child6" :key="'child6'">
                <child6></child6>
            </el-tab-pane>
        </el-tabs>
 
    </div>
      </div>
    </div>
  </div>
</template>

<script>
import Child1 from '../components/childTab';
import Child2 from '../components/childTab2';
import Child3 from '../components/childTab3';
import Child4 from '../components/childTab4';
import Child5 from '../components/childTab5';
import Child6 from '../components/childTab6'
export default {
  name: 'tabZujian',
    components:{
        Child1,
        Child2,
        Child3,
        Child4,
        Child5,
        Child6
    },
    data() {
        return {
            //默认第一个选项卡
            activeName: "first",
            isChildUpdate1:true,
            isChildUpdate2:false
        }
    },
    mounted(){
        
    },
    methods:{
        handleClick(tab) {
            if(tab.name == "first") {
                this.isChildUpdate1 = true;
                this.isChildUpdate2 = false;
            } else if(tab.name == "second") {
                this.isChildUpdate1 = false;
                this.isChildUpdate2 = true;
            }
        }
    }
}
</script>

<style>
h2 {
  margin: 20px 0;
}
.title {
  width: 500px;
  margin-top: 10px;
}
.content {
  width: 100%;
  height: 1200px;
  background: #fff;
  border-radius: 10px;
}
</style>
