<template>
  <div class="classRoom">
    <h1>待批班级</h1>
    <div class="box">
      <div>
        <el-table :data="tableData" style="width: 100%" class="elTable">
          <el-table-column label="班级名">
            <template slot-scope="scope">
              <p>{{ scope.row.grade_name }}</p>
            </template>
          </el-table-column>

          <el-table-column label="课程名">
            <template slot-scope="scope">
              <p>{{ scope.row.subject_text }}</p>
            </template>
          </el-table-column>

           <el-table-column label="阅卷状态">
            <template>
              <p></p>
            </template>
          </el-table-column>

          <el-table-column label="教室号">
            <template slot-scope="scope">
              <p>{{ scope.row.room_text }}</p>
            </template>
          </el-table-column>

          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">批卷</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import {
  classMange,
  addClass,
  deleteClass,
  classNumber,
  checkQuestions,
  updataClass
} from "../api/http";

export default {
  props: {},
  components: {},
  data() {
    return {
      tableData: [],
      input1: "",
      options: [],
      options2: [],
      room_id: "",
      subject_id: "",
      haveValue: "",
      classid: ""
    };
  },
  computed: {},
  methods: {
    newsubmit() {
      updataClass(
        this.classid,
        this.haveValue,
        this.subject_id,
        this.room_id
      ).then(res => {
        if (res.data.code === 1) {
          classMange().then(res => {
            this.tableData = res.data.data;
          });
        }
      });
    },
    
    handleEdit(index, row) {
      
    },
  },
  created() {
    classMange().then(res => {
      this.tableData = res.data.data;
    });
    classNumber().then(res => {
      this.options = res.data.data;
    }),
      checkQuestions().then(res => {
        this.options2 = res.data.data;
      });
  },
  mounted() {}
};
</script>

<style>
.el-table::before {
  height: 0;
}

.classRoom {
  width: 100%;
  height: 100%;
}

h1 {
  height: 70px;
  line-height: 70px;
  margin-left: 2%;
  font-size: 23px;
  font-weight: 500;
}
.box {
  width: 96%;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0 25px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
}

.elTable {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.el-input__inner {
  height: 30px;
  line-height: 30px;
}
.el-button--danger,
.el-button--mini {
  background: #eee;
  border: 0;
  color: #000;
}
.el-button--danger:hover,
.el-button--mini:hover {
  background: #eee;
  color: #000;
}
</style>