<template>
<div>
 
        </div>
</template>

<script>
export default {
data(){
    return{
          text: "",
      form: {
        desc: "",
        desc2: ""
      },
      examType: [],
      subjectType: [],
      questionType:[],
      value: "",
      value2: "",
      value3: ""
    }
},
methods: {
    fn(id){
        console.log(id)
    }
}
}
</script>

<style>

</style>