<template>
  <div class="ul-user">
     <ul>
       <li v-for="item in listMock" :key="item.questions_id">
        <p>{{item.title}}</p>
        <p class="user-p">
        <span class="questions">{{item.questions_type_text}}</span>
        <span class="questions">{{item.subject_text}}</span>
        <span class="questions">{{item.exam_name}}</span>
        <span><a href="javascript:;" class="user-ml">编辑</a></span>
        </p>
        <p><a href="javascript:;">{{item.user_name}}</a></p>
       
        </li>
     </ul>
     
  </div>
</template>

<script>
import {allAdd} from '../api/http'
export default {
    data(){
        return {
       
        }
    },
    props:{
        listMock:{
            type:Array
        }
    },
   created(){
     
        
       
   }

}
</script>

<style>

.ul-user{
    width: 100%;
    height: 4500px;
    background: #fff;
    margin-top: 20px;
    padding-left: 20px;
   font-size: 14px
}
.ul-user>ul{
    line-height: 30px;
}
.questions:nth-child(1){
    width: 78px;
    height: 22px;
    background: #e6e7ff;
    border: 1px solid #ccc

}
.questions:nth-child(2){
    width: 78px;
    height: 22px;
    background: #f0f5ff;
    border: 1px solid #ccc
 
}
.questions:nth-child(3){
    width: 78px;
    height: 22px;
    background:#FA8C;
    border: 1px solid #ccc

}
.user-ml{
    float: right;
}
.user-p{
    margin-left: -20px;
}
.user-p>span{
    margin-left: 20px;
}
.ul-user>ul>li{
    width: 1200px;
    height: 114px;
    border-bottom:1px solid #ccc
}

</style>