<template>
  <div>
       <el-button  @click="modify()" type="text" size="small">修改</el-button>
       <el-button @click="del()" type="text" size="small">删除</el-button>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>