<template>
  <div>
     <el-table
    :data="arrlist"
    stripe
    style="width: 100%">
     <el-table-column
      prop="view_authority_text"
      label="视图权限名称"
      width="180">
    </el-table-column>
    <el-table-column
      prop="view_id"
      label="视图id"
      width="180">
    </el-table-column>
   
  </el-table>
  </div>
  
</template>

<script>
import {view_authority} from '../api/http'
export default {
  data(){
       return {
           arrlist:''
       }
   },
   created(){
      view_authority().then(res=>{
           if(res.data.code===1){
               this.arrlist=res.data.data
           }
       })
   }
}
</script>

<style>

</style>