<template>
  <div>
     <el-table
    :data="arrlist"
    stripe
    style="width: 100%">
    <el-table-column
      prop="api_authority_text"
      label="api权限名称"
      width="180">
    </el-table-column>
    <el-table-column
      prop="api_authority_url"
      label="api权限url"
      width="380">
    </el-table-column>
    <el-table-column
      prop="api_authority_method"
      label="api权限方法"
       width="180">
    </el-table-column>
  </el-table>
  </div>
  
</template>

<script>
import {authority} from '../api/http'
export default {
  data(){
       return {
           arrlist:''
       }
   },
   created(){
      authority().then(res=>{
           if(res.data.code===1){
               this.arrlist=res.data.data
              
           }
       })
   }
}
</script>

<style>

</style>