<template>
  <div>
    <el-table
    :data="arrlist"
    stripe
    style="width: 100%">
    <el-table-column
      prop="user_name"
      label="用户名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="user_pwd"
      label="密码"
      width="380">
    </el-table-column>
    <el-table-column
      prop="identity_text"
      label="身份"
       width="180">
    </el-table-column>
  </el-table>
  </div>
</template>



<script>
import {userAuthority} from '../api/http'
export default {
    data(){
        return{
         arrlist:''
        }
    },
created(){
    
 userAuthority().then(res=>{
    if(res.data.code===1){
       this.arrlist=res.data.data
    }
 })
}
}
</script>

<style>

</style>