<template>
  <div>
     <el-table
    :data="arrlist"
    stripe
    style="width: 100%">
    <el-table-column
      prop="identity_text"
      label="身份"
      width="180">
    </el-table-column>
    <el-table-column
      prop="view_id"
      label="视图名称"
      width="380">
    </el-table-column>
    <el-table-column
      prop="view_authority_text"
      label="视图id"
       width="180">
    </el-table-column>
  </el-table>
  </div>
  
</template>

<script>
import {identity_view_authority_relation} from '../api/http'
export default {
  data(){
       return {
           arrlist:''
       }
   },
   created(){
     identity_view_authority_relation().then(res=>{
           if(res.data.code===1){
               this.arrlist=res.data.data
               
           }
       })
   }
}
</script>

<style>

</style>