<template>
  <div>
      <el-table
    :data="arrlist"
    stripe
    style="width: 100%">
    <el-table-column
      prop="identity_text"
      label="身份数据"
      width="180">
    </el-table-column>
    
  </el-table>
  </div>
  
</template>

<script>
import {useridentity} from '../api/http'
export default {
   data(){
       return {
           arrlist:''
       }
   },
   created(){
       useridentity().then(res=>{
           if(res.data.code===1){
               this.arrlist=res.data.data
              
           }
       })
   }
}
</script>

<style>

</style>