<template>
  <div>
    <div class="img-box">
      <img
        src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1551624718911&di=4a7004f8d71bd8da84d4eadf1b59e689&imgtype=0&src=http%3A%2F%2Fimg105.job1001.com%2Fupload%2Falbum%2F2014-10-15%2F1413365052_95IE3msH.jpg"
        alt
      />
    </div>
    <div class="user-box">
      <el-row class="block-col-2">
        <el-col :span="12">
          <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              <span class="border-origin"></span>
              <span class="userName">{{$route.query.user}}</span>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>个人中心</el-dropdown-item>
              <el-dropdown-item>我的班级</el-dropdown-item>
              <el-dropdown-item>设置</el-dropdown-item>
              <span @click="fn()"><el-dropdown-item >退出登录</el-dropdown-item></span>
            </el-dropdown-menu>
          </el-dropdown>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
    methods: {
        fn(){
           this.$router.push('/')
        }
    }
};
</script>

<style>
.el-dropdown-menu {
  transform: translateX(-50px);
}

.img-box {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
}
.img-box img {
  height: 50px;
}
.user-box {
  position: absolute;
  right: 18px;
  bottom: 20px;
}
.el-dropdown-link {
  display: inline-block;
  width: 80px;
  height: 30px;
}
.el-dropdown-link {
  width: 200px;
  height: 60px;
  cursor: pointer;
  color: #409eff;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.border-origin {
  transform: translate(-10px, 20px);
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background: #ccc;
  border-radius: 50%;
  margin-top: 6px;
}
.demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}
.userName {
  display: inline-block;
  width: 45px;
  height: 45px;
}
</style>