<template>
  <div>
      
      <el-form-item prop="pass">
    <el-input  v-model="ruleForm.pass" class='el-input'></el-input>
  </el-form-item>
  <el-form-item  prop="checkPass">
    <el-input  v-model="ruleForm.checkPass"  class='el-input'></el-input>
  </el-form-item>
  <el-form-item  prop="age">
    <el-input v-model.number="ruleForm.age"  class='el-input'></el-input>
  </el-form-item>
  <el-form-item  prop="age">
    <el-input v-model.number="ruleForm.age"  class='el-input'></el-input>
  </el-form-item>
  <slot></slot>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>