<template>
  <div class="box-left">
    <slot></slot> 
    <el-select v-model="values" placeholder="请选择">
    <el-option
      v-for="item in checkaddArry"
      :key="item.value"
      :label="item.exam_name"
      :value="item.exam_name">
    </el-option>
    <el-option
      v-for="item in checktypeArry"
      :key="item.questions_type_id"
      :label="item.questions_type_text"
      :value="item.questions_type_text">
    </el-option>
  </el-select>
  </div>
</template>

<script>

export default {
 data(){
     return {
          values: ''
     }
    },
    props:['checkaddArry','checktypeArry'],
  
}

</script>

<style >
.box-left{
   margin-left: 10px;
    
}
</style>