<template>
<div class="max">
<el-button type="primary" @click="submitForm('ruleForm')" class="my-bts">添加用户</el-button>
<el-button @click="resetForm('ruleForm')" class="my-bts">更新用户</el-button>
<el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
    <userFrom></userFrom>
    
  <el-form-item>
    <el-button type="primary" @click="submitForm('ruleForm')" class="my-ark">确定</el-button>
    <el-button @click="resetForm('ruleForm')" >重置</el-button>
  </el-form-item>
</el-form>
</div>
  
</template>

<script>
import userFrom from './userfrom'
export default {
    components: {
        userFrom
    },
 data() {
      var checkAge = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('年龄不能为空'));
        }
        setTimeout(() => {
          if (!Number.isInteger(value)) {
            callback(new Error('请输入数字值'));
          } else {
            if (value < 18) {
              callback(new Error('必须年满18岁'));
            } else {
              callback();
            }
          }
        }, 1000);
      };
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入密码'));
        } else {
          if (this.ruleForm.checkPass !== '') {
            this.$refs.ruleForm.validateField('checkPass');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.ruleForm.pass) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
      return {
        ruleForm: {
          pass: '',
          checkPass: '',
          age: ''
        },
        rules: {
          pass: [
            { validator: validatePass, trigger: 'blur' }
          ],
          checkPass: [
            { validator: validatePass2, trigger: 'blur' }
          ],
          age: [
            { validator: checkAge, trigger: 'blur' }
          ]
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
}
</script>

<style scoped>
.max{
    width:  350px;
    height: 400px;
    border:1px solid #ccc;
    float: left;
    box-sizing: border-box;
    padding-top: 30px;
    margin-left: 50px;
    margin-top: 50px;
    background: #eee
   
}
.my-bts{
    margin-left:50px
}
</style>