<template>
  <div id="app">
      
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
*{
     margin:0;
     padding:0;
     list-style: none;
     box-sizing: border-box;
     font-weight: normal;
     text-decoration: none;
     
 }

 html,body,#app{
     width:100%;
     height:100%;
     overflow: hidden;
     
 }
</style>
